    html, body {
        scroll-behavior: smooth;
        background: -webkit-linear-gradient( #000000, #000000);
    }

    /* width */

    ::-webkit-scrollbar {
        width: 7.5px;
        background: white;
    }

    /* Track */

    ::-webkit-scrollbar-track {
        background: white;
    }

    /* Handle */

    ::-webkit-scrollbar-thumb {
        background: #707070;
    }

    /* Handle on hover */

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 185%;
        background: -webkit-linear-gradient( #2573fb, #8117c4);
    }

    #particles-js canvas {
        display: block;
        z-index: 0;
    }

    .header {
        position: absolute;
        top: 0%;
        left: 0%;
        height: 13%;
        width: 100%;
        background-color: transparent;
        z-index: 50;
    }

    .header>.logo {
        position: absolute;
        top: 15%;
        left: 2%;
        height: 85%;
        width: fit-content;
        margin: auto;
        z-index: 500;
    }

    .header>.logo>div {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 100%;
        width: fit-content;
    }

    .header>.logo>div>img {
        position: absolute;
        height: 100%;
    }

    .header>.contact-button {
        position: absolute;
        right: 2%;
        top: 27.5%;
        width: 10%;
        height: 45%;
    }

    .header>.contact-button>button {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, white 0%, white 100%);
        color: black;
        box-shadow: 0px 0px 35px -3px rgba(0, 0, 0, 0.53);
        -webkit-box-shadow: 0px 0px 35px -3px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 0px 0px 35px -3px rgba(0, 0, 0, 0.53);
        font-weight: bold;
        outline: none;
        border: none;
        font-size: 12.5px;
        border-radius: 5px;
        transition: all 0.25s ease;
    }

    /*
    .header>.contact-button>button:hover {
        background: linear-gradient(180deg, black 0%, black 100%);
        color: white;
        box-shadow: 0px 0px 35px -3px rgba(0, 0, 0, 0.53);
        -webkit-box-shadow: 0px 0px 35px -3px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 0px 0px 35px -3px rgba(0, 0, 0, 0.53);
    }
    */

    .header>.bored-button {
        position: absolute;
        right: 14%;
        top: 27.5%;
        width: 10%;
        height: 45%;
        visibility: collapse;
    }

    .header>.bored-button>button {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #399fd5 0%, #0983ff 100%);
        color: white;
        font-weight: bold;
        outline: none;
        border: none;
        font-size: 12.5px;
        border-radius: 5px;
        transition: all 0.25s ease;
    }

    /*
    .header>.bored-button>button:hover {
        background: linear-gradient(180deg, white 0%, white 100%);
        color: black;
        box-shadow: 0px 0px 35px -3px rgba(9, 131, 255, 0.53);
        -webkit-box-shadow: 0px 0px 35px -3px rgba(9, 131, 255, 0.53);
        -moz-box-shadow: 0px 0px 35px -3px rgba(9, 131, 255, 0.53);
    }
    */

    .leftMain {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 1;
    }

    .somethingNew {
        position: absolute;
        top: 27.5%;
        left: 15%;
        width: 80%;
        text-align: left;
        font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
        font-size: 25px;
        font-weight: 800;
        height: fit-content;
        margin: 0%;
        color: rgba(255, 255, 255, 0.95);
    }

    .comingSoon {
        position: relative;
        top: 30%;
        left: 11.5%;
        width: 80%;
        text-align: left;
        font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
        font-size: 85px;
        font-weight: 900;
        height: fit-content;
        margin: 0%;
        color: rgba(255, 255, 255, 0.95);
    }

    .aboutUs {
        position: relative;
        top: 30.5%;
        left: 15.5%;
        width: 55%;
        height: fit-content;
        text-align: left;
        font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
        font-size: 20px;
        font-weight: bold;
        height: fit-content;
        margin: 0%;
        padding-left: 3.5%;
        color: rgba(255, 255, 255, 0.95);
        border-left: 5px solid rgba(255, 255, 255, 0.95);
        word-wrap: break-word;
    }

    .leftMainBottom {
        position: relative;
        top: 33%;
        left: 65%;
        width: 32.5%;
        height: 9.5%;
        background-color: rgba(255, 255, 255, 0.975);
        border-radius: 10px;
        visibility: hidden;
    }

    .Logo {
        position: relative;
        top: 30%;
        width: 12.5%;
    }

    .stadiaLogo {
        position: relative;
        left: 5%;
    }

    .playLogo {
        position: relative;
        left: 7.5%;
    }

    .appLogo {
        position: relative;
        left: 10%;
    }

    .storeLogo {
        position: relative;
        left: 14%;
    }

    .xboxLogo {
        position: relative;
        left: 18.5%;
    }

    .rightMain {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 50%;
        height: 100%;
        background-color: transparent;
        z-index: 1;
    }

    .rightMain>.box {
        position: absolute;
        right: 2.5%;
        bottom: 2.5%;
        width: 90%;
        height: 95%;
        background-color: transparent;
    }

    .deviceList {
        position: absolute;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
    }

    .one {
        position: absolute;
        bottom: 1%;
        left: 1%;
        width: 47.5%;
        height: 65%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .two {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 98%;
        height: 30%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .three {
        position: absolute;
        top: 34%;
        right: 1%;
        width: 47.5%;
        height: 31%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .four {
        position: absolute;
        bottom: 1%;
        right: 1%;
        width: 47.5%;
        height: 31%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /*
    .five {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 98%;
        height: 98%;
        border-radius: 10px;
        background-image: url('wbx/plt/mihai-moisa-uzn7AOgF8-0-unsplash.jpg');
        background-color: rgb(255, 255, 255);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .six {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 98%;
        height: 98%;
        border-radius: 10px;
        background-image: url('wbx/plt/omid-armin-mKq2JNnlHZ4-unsplash.jpg');
        background-color: white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .seven {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 98%;
        height: 98%;
        border-radius: 10px;
        background: linear-gradient(180deg, white 0%, white 100%);
        visibility: hidden;
    }*/

    .bottomSocial {
        position: absolute;
        bottom: 3%;
        left: 1%;
    }

    .bi {
        font-size: 1.25rem;
        margin-left: 12.5px;
        color: white;
        transition: color ease 0.25s;
    }

    .bi:hover {
        color: yellow;
    }

    mark {
        background-color: white;
        color: black;
        padding-left: 2.5px;
        padding-right: 2.5px;
        border-radius: 3px;
    }

    .platforms-div {
        position: absolute;
        top: 105%;
        left: 0%;
        width: 100%;
        height: 80%;
        background-color: white;
    }

    .platform-logos {
        position: absolute;
        top: 2%;
        left: 10%;
        width: 90%;
        height: 90%;
        background-color: transparent;
        border-radius: 10px;
    }

    .platforms-design {
        position: absolute;
        top: 7.5%;
        left: 0%;
        height: 90%;
        opacity: 1;
    }

    .platforms-design-rb {
        position: absolute;
        bottom: 0%;
        right: 0%;
        height: 30%;
        opacity: 0.2;
        visibility: hidden;
    }

    .platform-logos-header {
        position: relative;
        top: 14.5%;
        left: 5%;
        width: 90%;
        color: black;
        font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
        font-size: 35px;
        font-weight: 800;
        border-left: 5px solid black;
        padding-left: 15px;
    }

    .platform-logos-description {
        position: relative;
        top: 9%;
        left: 5%;
        width: 90%;
        color: black;
        font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
        font-size: 17.5px;
        font-weight: 800;
    }

    .ios-logo {
        position: absolute;
        top: 47%;
        width: 5%;
        left: 5%;
        border: 0px solid grey;
    }

    .iPadOS-logo {
        position: absolute;
        top: 48%;
        width: 8%;
        left: 12.5%;
        border: 0px solid grey;
    }

    .macOS-logo {
        position: absolute;
        top: 48.25%;
        width: 8%;
        left: 23.5%;
        border: 0px solid grey;
    }

    .watchOS-logo {
        position: absolute;
        top: 48.25%;
        width: 8%;
        left: 35%;
        border: 0px solid grey;
    }

    .tvOS-logo {
        position: absolute;
        top: 48.25%;
        width: 3.5%;
        left: 46.5%;
        border: 0px solid grey;
    }

    .android-logo {
        position: absolute;
        top: 42.5%;
        width: 13%;
        left: 51.75%;
        border: 0px solid grey;
    }

    .androidTV-logo {
        position: absolute;
        top: 42.5%;
        width: 12.5%;
        left: 65.25%;
        border: 0px solid grey;
    }

    .xboxOne-logo {
        position: absolute;
        top: 42.5%;
        width: 12.5%;
        left: 78%;
        border: 0px solid grey;
    }

    .windows-logo {
        position: absolute;
        top: 59.5%;
        width: 7.5%;
        left: 3.5%;
        border: 0px solid grey;
    }

    .universalWindows-logo {
        position: absolute;
        top: 59.5%;
        width: 7.5%;
        left: 12.5%;
        border: 0px solid grey;
    }

    .microsoftLens-logo {
        position: absolute;
        top: 57.5%;
        width: 11%;
        left: 22%;
        border: 0px solid grey;
    }

    .ps4-logo {
        position: absolute;
        top: 58%;
        width: 9%;
        left: 34.1%;
        border: 0px solid grey;
    }

    .stadia-logo {
        position: absolute;
        top: 59%;
        width: 7%;
        left: 43.9%;
        border: 0px solid grey;
    }

    .ps4VR-logo {
        position: absolute;
        top: 56.5%;
        width: 11%;
        left: 52.5%;
        border: 0px solid grey;
    }

    .vuforia-logo {
        position: absolute;
        top: 59.5%;
        width: 10%;
        left: 67%;
        border: 0px solid grey;
    }

    .magicLeap-logo {
        position: absolute;
        top: 57%;
        width: 10%;
        left: 79.5%;
        border: 0px solid grey;
    }

    .windowsMixedReality-logo {
        position: absolute;
        top: 73%;
        width: 8%;
        left: 3%;
        border: 0px solid grey;
    }

    .webgl-logo {
        position: absolute;
        top: 73%;
        width: 8%;
        left: 12.5%;
        border: 0px solid grey;
    }

    .oculus-logo {
        position: absolute;
        top: 73.5%;
        width: 7%;
        left: 23.5%;
        border: 0px solid grey;
    }

    .arcore-logo {
        position: absolute;
        top: 71.5%;
        width: 11%;
        left: 33.5%;
        border: 0px solid grey;
    }

    .switch-logo {
        position: absolute;
        top: 73.5%;
        width: 7%;
        left: 44.5%;
        border: 0px solid grey;
    }

    .arkit-logo {
        position: absolute;
        top: 74.5%;
        width: 2.75%;
        left: 52.75%;
        border: 0px solid grey;
    }

    .linux-logo {
        position: absolute;
        top: 73.5%;
        width: 7.75%;
        left: 56%;
        border: 0px solid grey;
    }
    
    .second-div {
        position: absolute;
        top: 185%;
        left: 0%;
        width: 100%;
        height: 80%;
        background-color: rgba(255, 255, 255);
        visibility: collapse;
    }

    .second-div>.d1 {
        position: absolute;
        left: 2%;
        top: 10%;
        width: 22.5%;
        height: 80%;
        background: linear-gradient(180deg, #f89b29 0%, #f89b29 100%);
        border-radius: 10px;
    }

    .second-div>.d2 {
        position: absolute;
        left: 26.5%;
        top: 10%;
        width: 22.5%;
        height: 80%;
        background: linear-gradient(180deg, #f89b29 0%, #f89b29 100%);
        border-radius: 10px;
    }

    .second-div>.d3 {
        position: absolute;
        right: 26.5%;
        top: 10%;
        width: 22.5%;
        height: 80%;
        background: linear-gradient(180deg, #f89b29 0%, #f89b29 100%);
        border-radius: 10px;
    }

    .second-div>.d4 {
        position: absolute;
        right: 2%;
        top: 10%;
        width: 22.5%;
        height: 80%;
        background: linear-gradient(180deg, #f89b29 0%, #f89b29 100%);
        border-radius: 10px;
    }

    .second-div-topicName {
        position: absolute;
        width: 70%;
        top: 5%;
        left: 15%;
        font-size: 21px;
        font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
        font-weight: bold;
        word-wrap: break-word;
        color: white;
    }

    .hire-section {
        position: absolute;
        top: 265%;
        left: 0%;
        background-color: white;
        height: 100%;
        width: 100%;
        visibility: collapse;
    }

    .hire-background{
        position: absolute;
        left: 5%;
        top: 5%;
        height: 80%;
        width: 90%;
        border-radius: 25px;
        background-image: url('wbx/photo-1504384308090-c894fdcc538d.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hire-background-overlay{
        position: absolute;
        left: 5%;
        top: 5%;
        height: 80%;
        width: 90%;
        border-radius: 25px;
        background-color: rgba(255, 123, 0, 0.3);
    }

    .footer{
        position: absolute;
        left: 0%;
        top: 325%;
        height: 20%;
        width: 100%;
        background-color: black;
    }

    @media screen and (max-width: 699px) {
        .header {
            position: absolute;
            top: 0%;
            left: 0%;
            height: 12%;
            width: 100%;
            background-color: transparent;
            z-index: 50;
        }
        .leftMain {
            position: absolute;
            top: 12%;
            width: 100%;
            height: 88%;
            z-index: 1;
        }
        .rightMain {
            position: absolute;
            top: 0%;
            width: 100%;
            height: 100%;
            width: 100%;
        }
        .rightMain>.box {
            position: absolute;
            right: 1%;
            top: 52.5%;
            width: 98%;
            height: 40%;
            background-color: transparent;
            visibility: collapse;
        }
        .somethingNew {
            position: absolute;
            top: 17.5%;
            left: 10%;
            width: 80%;
            font-size: 16.5px;
        }
        .comingSoon {
            position: relative;
            width: 90%;
            top: 19.5%;
            left: 5%;
            font-size: 45px;
        }
        .aboutUs {
            position: relative;
            top: 19.5%;
            left: 10%;
            width: 70%;
            font-size: 14px;
            border-left: 3px solid rgba(255, 255, 255, 0.95);
        }
        .leftMainBottom {
            position: relative;
            top: 22.5%;
            left: 42.5%;
            width: 50%;
            height: 7%;
            background-color: rgba(255, 255, 255, 0.975);
            border-radius: 10px;
        }
        .header>.contact-button {
            width: 35%;
        }
        .header>.contact-button>button {
            font-size: 15px;
        }
        .bi {
            margin-left: 5px;
            font-size: 1.25em;
        }
        .platforms-div{
            height: 100%;
        }
        .platforms-design{
            position: absolute;
            left: 0%;
            top: 47%;
            height: 68%;
            transform: rotate(-90deg);
        }
        .platform-logos{
            position: absolute;
            left: 0%;
            top: 0%;
            width: 100%;
        }
        .platform-logos-header{
            position: relative;
            top: 5%;
            left: 5%;
            width: 90%;
            font-size: 30px;
        }
        .platform-logos-description{
            position: relative;
            top: 2.5%;
            left: 5%;
            width: 90%;
            font-size: 17.5px;
        }
        .ios-logo {
            position: absolute;
            top: 35%;
            width: 10%;
            left: 5%;
            border: 0px solid grey;
        }
    
        .iPadOS-logo {
            position: absolute;
            top: 35.4%;
            width: 17.5%;
            left: 20%;
            border: 0px solid grey;
        }
    
        .macOS-logo {
            position: absolute;
            top: 35.6%;
            width: 17.5%;
            left: 44%;
            border: 0px solid grey;
        }
    
        .watchOS-logo {
            position: absolute;
            top: 35.6%;
            width: 17.5%;
            left: 68.5%;
            border: 0px solid grey;
        }
    
        .tvOS-logo {
            position: absolute;
            top: 43.6%;
            width: 9%;
            left: 6%;
            border: 0px solid grey;
        }
    
        .android-logo {
            position: absolute;
            top: 40.2%;
            width: 30%;
            left: 19%;
            border: 0px solid grey;
        }
    
        .androidTV-logo {
            position: absolute;
            top: 40.2%;
            width: 29%;
            left: 49%;
            border: 0px solid grey;
        }
    
        .windows-logo {
            position: absolute;
            top: 43.2%;
            width: 12%;
            left: 76%;
            border: 0px solid grey;
        }
    
        .xboxOne-logo {
            position: absolute;
            top: 49.25%;
            width: 25%;
            left: 3%;
            border: 0px solid grey;
        }
    
        .microsoftLens-logo {
            position: absolute;
            top: 50.25%;
            width: 18%;
            left: 30%;
            border: 0px solid grey;
        }
    
        .universalWindows-logo {
            position: absolute;
            top: 50.75%;
            width: 13%;
            left: 49%;
            border: 0px solid grey;
        }
    
        .vuforia-logo {
            position: absolute;
            top: 51.75%;
            width: 16%;
            left: 65%;
            border: 0px solid grey;
        }
    
        .ps4-logo {
            position: absolute;
            top:58%;
            width: 18%;
            left: 3.75%;
            border: 0px solid grey;
        }
    
        .ps4VR-logo {
            position: absolute;
            top: 57.6%;
            width: 19.5%;
            left: 25.75%;
            border: 0px solid grey;
        }
    
        .stadia-logo {
            position: absolute;
            top:59%;
            width: 11%;
            left: 49%;
            border: 0px solid grey;
        }
    
        .arcore-logo {
            position: absolute;
            top:57.8%;
            width: 17.5%;
            left: 62%;
            border: 0px solid grey;
        }
    
        .arkit-logo {
            position: absolute;
            top:59.25%;
            width: 5%;
            left: 83%;
            border: 0px solid grey;
        }
    
        .magicLeap-logo {
            position: absolute;
            top:65.75%;
            width: 17.5%;
            left: 5%;
            border: 0px solid grey;
        }
    
        .webgl-logo {
            position: absolute;
            top:65.75%;
            width: 16%;
            left: 25.75%;
            border: 0px solid grey;
        }
    
        .windowsMixedReality-logo {
            position: absolute;
            top:66%;
            width: 14%;
            left: 42%;
            border: 0px solid grey;
        }
    
        .oculus-logo {
            position: absolute;
            top:66.2%;
            width: 13%;
            left: 56.5%;
            border: 0px solid grey;
        }
    
        .switch-logo {
            position: absolute;
            top:66.2%;
            width: 13%;
            left: 69%;
            border: 0px solid grey;
        }
    
        .linux-logo {
            position: absolute;
            top:51%;
            width: 13%;
            left: 81%;
            border: 0px solid grey;
        }
    }

    @media screen and (min-width: 700px) and (max-width: 999px) {
        .leftMain {
            width: 100%;
        }
        .rightMain {
            width: 100%;
        }
        .box {
            visibility: collapse;
        }
        .somethingNew {
            position: absolute;
            top: 27%;
            left: 17.5%;
            width: 50%;
            font-size: 20px;
        }
        .comingSoon {
            position: relative;
            width: fit-content;
            top: 29%;
            left: 12.5%;
            font-size: 70px;
        }
        .aboutUs {
            position: relative;
            top: 30%;
            left: 17.5%;
            width: 60%;
            font-size: 17.5px;
            border-left: 3px solid white;
        }
        .leftMainBottom {
            position: relative;
            width: 25%;
            height: 5%;
            left: 55%;
        }
        .header>.contact-button {
            width: 20%;
            height: 35%;
        }
        .header>.contact-button>button {
            font-size: 16.5px;
        }
        .bi {
            margin-left: 5px;
            font-size: 1.15em;
        }
        mark {
            background-color: white;
            color: black;
        }
    }

    @media screen and (min-width: 1000px) and (max-width: 1200px) {
        .somethingNew {
            position: absolute;
            top: 27.5%;
            font-size: 17.5px;
        }
        .comingSoon {
            position: relative;
            top: 30%;
            font-size: 65px;
        }
        .aboutUs {
            position: relative;
            top: 30.5%;
            font-size: 15px;
        }
        .leftMainBottom {
            position: relative;
            height: 6.5%;
        }
        .header>.contact-button {
            width: 11.5%;
            height: 42.5%;
        }
        .header>.contact-button>button {
            font-size: 13px;
        }
        .bi {
            font-size: 1em;
        }
        mark {
            background-color: white;
            color: black;
        }
        .platform-logos-header {
            position: relative;
            top: 15.5%;
            left: 5%;
            width: 90%;
            color: black;
            font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
            font-size: 27.5px;
            font-weight: 800;
        }
        .platform-logos-description {
            position: relative;
            top: 10%;
            left: 5%;
            width: 90%;
            color: black;
            font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
            font-size: 16.5px;
            font-weight: 800;
        }
    }

    @media screen and (min-width: 1600px) {
        .somethingNew {
            position: absolute;
            top: 28%;
        }
        .comingSoon {
            font-size: 100px;
        }
        .aboutUs {
            font-size: 25px;
        }
        .header>.contact-button>button {
            font-size: 17.55px;
        }
        mark {
            background-color: white;
            color: black;
        }
        .platform-logos-header {
            position: relative;
            top: 15.5%;
            left: 5%;
            width: 90%;
            color: black;
            font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
            font-size: 43.5px;
            font-weight: 800;
        }
        .platform-logos-description {
            position: relative;
            top: 10%;
            left: 5%;
            width: 90%;
            color: black;
            font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
            font-size: 21.5px;
            font-weight: 800;
        }
    }